@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h2>Ejemplo 1</h2>

<div>Guid Transitorio <b style="color:red">@Model.EjemploGuid_1.Transitorio</b> </div>
<div>Guid Delimitado <b style="color:green">@Model.EjemploGuid_1.Delimitado</b> </div>
<div>Guid Único <b style="color:blue">@Model.EjemploGuid_1.Unico</b> </div>


<h2>Ejemplo 2</h2>

<div>Guid Transitorio <b style="color:red">@Model.EjemploGuid_2.Transitorio</b> </div>
<div>Guid Delimitado <b style="color:green">@Model.EjemploGuid_2.Delimitado</b> </div>
<div>Guid Único <b style="color:blue">@Model.EjemploGuid_2.Unico</b> </div>

<partial name="_Presentacion" />

@* los elementos compartidos en razor se colocan con _ (guion bajo al inicio, es una convension, no es obligatoria, pero es una costumbre)
por ejemplo layout, nos daremos cuenta que esta escrito como _Layout, porque es una vista compartida *@
@* En este ejemplo, _Presentacion lo hemos colocado en Home, porque solo en las vistas del controller Home lo vamos a usar, pero si esta vista fuera a ser utilizada
por distintas vistas de diferentes controller, (como por ejemplo _Layout), entonces debemos colocarla en la carpeta _Shared
  *@

<partial name="_Habilidades" />
<partial name="_SeccionProyectos" model="Model.Proyectos"/>
